<div id="intro" class="container-fluid">
  <h1 style = font-size:50px>Quotes Galore</h1>
  <p>"A quote is just a tattoo on the tongue"</p>
  <p>~William Devault</p>

</div>
<div class="container">

  <div class="row">
     <app-quote-form (addQuote)="addNewQuote($event)"></app-quote-form>
  </div>
  <div class="row">
    <mat-card *ngFor='let quote of quotes;let i = index'>
       <mat-card-title *ngIf ='quote.popularQuote; else notPopular'appHighlight >{{quote.quotation}}</mat-card-title>
       <ng-template #notPopular> <mat-card-title  >{{quote.quotation}}</mat-card-title></ng-template>
        <button (click)='toggleDetails(i)' class="btn btn-primary">See Details</button>

      <div class  *ngIf='quote.showDetails'>
        <mat-card-content *ngIf='quote.today'>
          <p>{{quote.author}}</p>
          <p>This quote was submitted today</p>
          </mat-card-content>
         <mat-card-content *ngIf='!quote.today'>
            <app-quote-detail-component [quote]='quote' ></app-quote-detail-component>
          </mat-card-content>
      </div>

      <mat-card-actions>
        <button mat-icon-button mdTooltip="Remove entry" (click)='deleteQuote(true,i)'><mat-icon>delete</mat-icon></button>
        <button md-icon-button mdTooltip="Awesome!" (click)='upVote(i)'>{{quote.likes.toString()}}<mat-icon>thumb_up</mat-icon></button>
        <button md-icon-button mdTooltip="Not for me" (click)='downVote(i)'>{{quote.dislikes.toString()}}<mat-icon>thumb_down</mat-icon></button>
        <hr>
      </mat-card-actions>
    </mat-card>
    </div>
</div>
