<div class="container">
  <h1>The Quote Collection</h1>
  <hr>

  <div class="row">
     <app-quote-form (addGoal)="addNewQuote($event)"></app-quote-form>
  </div>

  <mat-card *ngFor='let quote of quotes;let i = index'>
    <mat-card-title >{{quote.quotation}}</mat-card-title>
    <button (click)='toggleDetails(i)' class="btn btn-primary">See Details</button>
  <div *ngIf='quote.showDetails'>
    <app-quote-detail-component  [quote]='quote'  (isDelete) = 'deleteQuote($event,i)'></app-quote-detail-component>
  </div>
</mat-card>
